body        {
    background-color: antiquewhite;
    padding: 20px;
}


h1          {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blue;
}
h4         {
       color:darkorchid;
}
li         {
   
    color:rebeccapurple;
}

footer {

    color: grey;
}